* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, 
body {
    font-family: 'rubik', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
button {
    border: none;
    background-color: transparent;
}
.header {
    padding: 14px 0; 
    background-color: #0A61F7;
}
.menu-item {
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.main-title {
    color: #363940;
    font-size: 58px;
    font-weight: 500;
    line-height: 68px;
    margin-bottom: 30px;
}
.text {
    color: #95A1BB;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}
.rates-section .text {
    margin-bottom: 40px;
}
.button {
    width: 152px;
    height: 50px;
    border-radius: 4px;
    background: #0A61F7;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px; /* 140% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.table {
    border-collapse: collapse;
}
th, td {
    border: solid 1px #95A1BB;
    width: 240px;
    padding: 15px 0px;
    text-align: center;
}
.table-title {
    color: #363940;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
}
.table-subtitle {
    color: #363940;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    text-align: left;
    padding-left: 20px;
}
.table-subtitle.gray {
    color: #95A1BB;
}
.table-link {
    color: #0A61F7;
}
.table-button {
    width: 140px;
    padding: 8px 0;
    color: #0A61F7;
    border-radius: 4px;
    border: 1px solid #0A61F7;
    font-size: 12px;
    font-weight: 500;
    line-height: 19.6px; /* 163.333% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.table-button.active {
    background-color: #0A61F7;
    color: #FFF;
}
.table-footer td {
    padding: 30px 0;
}
.create-account-section {
    padding: 100px 0;
}
.create-account-section .title {
    margin-bottom: 50px;
}
.create-account-section .text {
    margin-bottom: 40px;
    max-width: 500px;
}
.list-item {
    list-style-image: url(./assets/images/Check.svg);
    margin-left: 30px;
    margin-bottom: 15px;
    color: #363940;
}
.title {
    color: #363940;
    font-size: 32px;
    font-weight: 500;
    line-height: 43px;
}
.rates-section {
    background-color: #f9f9f9;
    padding: 100px 0;
}
.rates-section .title {
    margin-bottom: 20px;
}
input, select, fieldset, textarea, label, legend, input::placeholder, label::placeholder, legend::placeholder {
    border-radius: 4px;
    border: 1px solid #95A1BB;
    padding: 14px 15px;
    color: #95A1BB;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    font-family: inherit;
}
input[type="text"] {
    width: 100%;
}
input[type="email"], input[type="password"], input[type="date"], select {
    width: 230px;
    height: 50px;
}
fieldset {
    width: 100%;
    padding: 30px 15px;
}
textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
}
form .button {
    width: 100%;
}
select {
    background: url(./assets/images/Arrow-down.svg) no-repeat right 15px top 50%;
    appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(./assets/images/Calendar.svg) no-repeat;
}
.footer {
    background-color: #0A61F7;
    text-align: center;
    padding: 20px 0;
}
small {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #FFF;
}